<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body class="bg-light">
<div class="container-fluid vertical-center col-12 col-xl-10">
    <h1 class="font-weight-bold text-center">To Do App</h1>
    <form class="form-group" action="/add" method="post">
        <div class="field">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="row d-flex col-12 d-flex align-items-center justify-content-center">
                    <label class="text-center col-12">What is to do</label>
                    <input class="col-sm-12 col-md-8 col-xl-4" type="text" name="taskName" placeholder="Enter Todo...">
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="row d-flex col-12 d-flex align-items-center justify-content-center">
                    <label class="text-center col-12">status</label><br>
                    <select class="form-control col-sm-12 col-md-8 col-xl-4  text-left pt-1 pb-1" name="status">
                        <option value="started" checked>started</option>
                        <option value="inProgress">In progress</option>
                        <option value="completed">completed</option>
                        <option value="notStarted">Not started</option>
                        <option value="abandoned">abandoned</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button  type="submit" class="btn btn-primary col-4 col-md-2">Add</button>
        </div>
    </form>
    <hr>
    {% for todo in todoList %}
    <div class="container-fluid shadow-sm p-3 mb-2 bg-white rounded mt-2 col-12 border-left-blue-5 border-primary rounded-bottom ">
        <div class="row m-0">
            <div class="col-1 ">
                <span class="">{{todo.id }}</span>
            </div>
            <div class="col-4 col-md-5 col-lg-7 ">
                <span>{{todo.taskName}}</span>
            </div>
            <form class="form-select row col-5 col-sm-5 col-md-4 col-lg-3" action="/update/{{todo.id}}" method="post">
                <div class="col-6 col-sm-7 col-md-7 ">
                        <select class="form-control w-100 shadow-sm" name="updatedStatus">
                            <option value="{{todo.status}}" checked hidden>{{todo.status}}</option>
                            <option value="started" >started</option>
                            <option value="inProgress">In progress</option>
                            <option value="completed">completed</option>
                            <option value="notStarted">Not started</option>
                            <option value="abandoned">abandoned</option>
                        </select>
                </div>
                <div class="col-6 col-md-5 col-sm-5 overflow-hidden">
                    <button class="btn btn-sm btn-primary " type="submit">Update</button>
                </div>
            </form>
            <div class="col-2 col-md-2 col-lg-1 overflow-hidden">
                <a class="btn bg-danger btn-sm text-light" href="/delete/{{todo.id}}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>